<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
<table>
    <h1>Click for options,</h1>
    <button type="button"><i class="Hey">Here.</button>
    <br>
    <h3>Nothing will happen. Read below:</h3>
    <% for(let i=0; i < obj.length; i++) { %>
        <tr class = "Hey">
            <td><%= obj[i].firstname %></td>
            <td><%= obj[i].lastname %></td>
            <td><%= obj[i].email %></td>
        </tr>
    <% } %>
</table>
<script>
</script>


</body>

</html>