<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        function ShowDateNow(){

        let dateval = new Date();
        alert('Date Now :' + dateval);
        };

    </script>
    
</head>

<body>

<h1>Find thy victim</h1>
<form action = "/route2" method= "post" autocomplete="off">
    <input id = "this" type= "text" placeholder="Search here, please" name="search"><br>
    <ul id="listOfNames"></ul>
    <input type= "submit">
</form>

</body>

<script src="/javascript/jquery.js">
    ShowDateNow();

</script>

</html>