<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
<table>
    <h1>Give data of thy:</h1>
    <form action = "/route4" method= "post">
        <h2>First name</h2>
        <input type= "text" placeholder="you name is" name="firstName"><br>
        <h2>Lastest name,</h2>
        <input type= "text" placeholder="your last name is" name="lastName"><br>
        <h2>and email, please</h2>
        <input type= "text" placeholder="your email is" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</table>
</body>

</html>